In [30]:
#Exercise1
print(f"Hello, Python!") # Python program that prints a greeting message

Hello, Python!

In [4]:
#Exercise2
#Define variable a and b with numerical values
a = 34
b = 36
# Prints their sum, difference, product, and quotient.
sum = a + b
diff = a - b
product = a * b
quotient = a / b
print("Sum:", a, "+", b, "=", sum)
print("Difference:", a, "i", b, "=", diff)
print("Product:", a, "*", b, "=", product)
print("Quotient:", a, "/", b, "=", quotient)

Sum: 34 + 36 = 70
Difference: 34 i 36 = -2
Product: 34 * 36 = 1224
Quotient: 34 / 36 = 0.9444444444444444

In [46]:
#Exercise3
name = 'Harshita' # Define a variable name and assign it your name
print(f"Hello, {name}!") # prints a message with value of the variable

Hello, Harshita!

In [7]:
#Exercise4
universities = ["Waseda", "Keio", "Sophia", "TokyoU", "TokyoTech"] # list with 5 different university names
print(f"University list:", universities) # print entire list
# Print the first and last university in the list.
print("First university in list:", universities[0])
print("Last university in list:", universities[4])

University list: ['Waseda', 'Keio', 'Sophia', 'TokyoU', 'TokyoTech']
First university in list: Waseda
Last university in list: TokyoTech

In [8]:
#Exercise5
student = { # dictionary with keys and their values. 
    "name": "Harshita Chivukula",
    "age": 22,
    "grade": "A"
}
# prints each key-value pair in the dictionary
for key, value in student.items():
    print(f"{key}: {value}")

name: Harshita Chivukula
age: 22
grade: A

In [41]:
#Exercise6
#Define a tuple with two values representing a point in 2D space (e.g., (x, y)).
coordinates = (3, 5)
# Print the value of coordinates and access each element by its index.
print("Coordinates:", coordinates)
x = coordinates[0] # x index
y = coordinates[1] # y index
print("X coordinate:", x)
print("Y coordinate:", y)

Coordinates: (3, 5)
X coordinate: 3
Y coordinate: 5

In [10]:
#Exercises7
colors = {'red', 'green', 'blue'} # set with the values
print(f"Colors set", colors)
colors.add('yellow') # add to the set 
print(f"Updated set (added color):", colors)
colors.add('red') #adding duplicate color
print(f"Updated set (duplicated color):", colors) #not duplicated, just maintained. # print set 
colors.discard('green') # remove a color 
print(f"Updated set (discarded color):", colors) # print set 
light_colors = {'pastel pink', 'pastel blue', 'pastel yellow'} # another set created
print(f"Light colors set:", light_colors)
merge = colors.union(light_colors) # merge sets
print(f"Merged sets:", merge) # print output of merge

Colors set {'green', 'blue', 'red'}
Updated set (added color): {'green', 'blue', 'red', 'yellow'}
Updated set (duplicated color): {'green', 'blue', 'red', 'yellow'}
Updated set (discarded color): {'blue', 'red', 'yellow'}
Light colors set: {'pastel pink', 'pastel yellow', 'pastel blue'}
Merged sets: {'pastel pink', 'pastel blue', 'blue', 'red', 'pastel yellow', 'yellow'}

In [19]:
#Exercise8
number = float(input("Number: "))  # Takes an input number from the user
# Check if the number is positive, negative, or zero.
if number == 0 : # zero
    print("zero")
elif number > 0: #positive number is greater than 0
    print("positive")
else : # not 0 or positive
    print("negative")

positive

In [21]:
#Exercise9
numbers = [1, 2, 3, 4, 5] # List of numbers from 1 - 5 
print(f"print numbers from 1 to 5:")
for number in numbers: # for loop to iterate through the list and print each number
    print(number)

print numbers from 1 to 5:
1
2
3
4
5

In [22]:
#Exercise10
counter = 1 #starting value
print(f"print numbers from 1 to 5:")
while counter <= 5: # while loop to print numbers from 1 to 5.
    print(counter)
    counter += 1 # starting value 
else:
    print("loop finished") # terminate loop correctly

print numbers from 1 to 5:
1
2
3
4
5
loop finished

In [23]:
#Exercise11
grade = input("Input Grade:") #ask user to input grade 
match grade: # match statement to print a corresponding message for each grade
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Unknown grade.") # default message for invalid message

Excellent!

In [24]:
#Exercise12
def greet(name): #function that takes a name as an argument 
    print(f"Hello, {name}!") # print the greeting with  argument 
greet("Harshita") # call function with my name

Hello, Harshita!

In [25]:
#Exercise13
def square(number): # function that takes a number as an argument 
    return number * number # return square of number
# Print the result of calling this function with different numbers.
print("Square of 2:", square(2))
print("Square of 3:", square(3))
print("Square of 4:", square(4))

Square of 2: 4
Square of 3: 9
Square of 4: 16

In [26]:
#Exercise14
def multiply(a, b = 1): # function that takes two parameters, a and b. Set a default value of 1 for the parameter b.
    return a * b # return product of parameters 
# Test the function 
print("a = 2, b = default, result:", multiply(2)) # without second argument
print("a = 2, b = 4, result:", multiply(3, 4)) # with second argument
print("a = 5, b = default, result:", multiply(5)) # without second argument

a = 2, b = default, result: 2
a = 2, b = 4, result: 12
a = 5, b = default, result: 5

In [27]:
#Exercise15
numbers = list(range(1, 11)) # list of numbers from 1 -10 
print("Numbers list:", numbers) # print list of numbers 
squares = [number ** 2 for number in numbers] # new list that contains the squares of these numbers.
print("Squares of numbers list:", squares) # print new list

Numbers list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares of numbers list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
#Exercise16
students_grades = { # dictionary where the keys are names of students and the values are lists of their grades. Nested data structures 
    "Student A": [85, 90, 72],
    "Student B": [81, 92, 85],
    "Student C": [99, 81, 93],
    "Student D": [55, 75, 90]
}

def average_grades(students_grades): # function that takes the dictionary and prints the average grade for each student.
    for student, grades in students_grades.items(): # loop thorugh the grades for each student
        total = 0 # initialize total 
        for grade in grades:  # calculate average grade by adding each element 
            total += grade  
        average_grade = total / len(grades) 
        print(f"{student}'s average grade: {average_grade}") 

average_grades(students_grades) # call the function

Student A's average grade: 82.33333333333333
Student B's average grade: 86.0
Student C's average grade: 91.0
Student D's average grade: 73.33333333333333

In [29]:
#Exercise17
def calculate(num1, num2, operator): # function that takes 2 numbers and a paramentes 
    # Define with to do with each parameter
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        if num2 != 0:
            return num1 / num2
        else:
            return "Error: Division by zero"
    else:
        return "Invalid operator"
# Ask the user for the two numbers and the operator
num1 = float(input("Number 1: "))
num2 = float(input("Number 2: "))
operator = input("Enter an operator (+, -, *, /): ")
# call the function calcualte
result = calculate(num1, num2, operator)
# print the result 
print(f"Result: {num1} {operator} {num2} = {result}")

Result: 2.0 + 3.0 = 5.0