In [3]:
#Exercise1
print("Hello, Python!")

Hello, Python!

In [2]:
#Exercise2
a = 34
b = 36
sum = a + b
diff = a - b
product = a * b
quotient = a / b
print("Sum:", sum)
print("Difference:", diff)
print("Product:", product)
print("Quotient:", quotient)

Sum: 70
Difference: -2
Product: 1224
Quotient: 0.9444444444444444

In [46]:
#Exercise3
name = 'Harshita'
print(f"Hello, {name}!")

Hello, Harshita!

In [14]:
#Exercise4
universities = ["Waseda", "Keio", "Sophia", "TokyoU", "TokyoTech"]
print("University list:"universities)
print("First university in list:", universities[0])
print("Last university in list:", universities[4])

University list: ['Waseda', 'Keio', 'Sophia', 'TokyoU', 'TokyoTech']
First university in list: Waseda
Last university in list: TokyoTech

In [16]:
#Exercise5
student = {
    "name": "Harshita Chivukula",
    "age": 22,
    "grade": "A"
}

for key, value in student.items():
    print(f"{key}: {value}")

name: Harshita Chivukula
age: 22
grade: A

In [41]:
#Exercise6
coordinates = (3, 5)
print("Coordinates:", coordinates)
x = coordinates[0]
y = coordinates[1]
print("X coordinate:", x)
print("Y coordinate:", y)

Coordinates: (3, 5)
X coordinate: 3
Y coordinate: 5

In [28]:
#Exercises7
colors = {'red', 'green', 'blue'}
print(colors)
colors.add('yellow')
print(colors)
colors.add('red')
print(colors) #not duplicated, just maintained
colors.discard('green')
print(colors)
light_colors = {'pastel pink', 'pastel blue', 'pastel yellow'}
merge = colors.union(light_colors)
print(merge)

{'blue', 'green', 'red'}
{'yellow', 'blue', 'green', 'red'}
{'yellow', 'blue', 'green', 'red'}
{'yellow', 'blue', 'red'}
{'pastel blue', 'pastel yellow', 'blue', 'yellow', 'pastel pink', 'red'}

In [64]:
#Exercise8
number = float(input("Number:"))
if number == 0 :
    print("zero")
elif number > 0:
    print("positive")
else :
    print("negative")

Number: 78

positive

In [34]:
#Exercise9
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [38]:
#Exercise10
counter = 1
while counter <= 5:
    print(counter)
    counter += 1
else:
    print("loop finished")

1
2
3
4
5
loop finished

In [40]:
#Exercise11
grade = input("Grade:")
match grade:
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Unknown grade.") #default message

Grade: F

Failing.

In [42]:
#Exercise12
def greet(name):
    print(f"Hello, {name}!")
greet("Harshita")

Hello, Harshita!

In [48]:
#Exercise13
def square(number):
    return number * number
print("Square of 2:", square(2))
print("Square of 3:", square(3))
print("Square of 4:", square(4))

Square of 2: 4
Square of 3: 9
Square of 4: 16

In [56]:
#Exercise14
def multiply(a, b = 1):
    return a * b
print("a = 2, b = default, result:", multiply(2))
print("a = 2, b = 4, result:", multiply(3, 4))
print("a = 5, b = default, result:", multiply(5))

a = 2, b = default, result: 2
a = 2, b = 4, result: 12
a = 5, b = default, result: 5

In [62]:
#Exercise15
numbers = list(range(1, 11))
print("Numbers list:", numbers)
squares = [number ** 2 for number in numbers]
print("Squares of numbers list:", squares)

Numbers list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares of numbers list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
#Exercise16
students_grades = {
    "Student A": [85, 90, 72],
    "Student B": [81, 92, 85],
    "Student C": [99, 81, 93],
    "Student D": [55, 75, 90]
}

def average_grades(students_grades):
    for student, grades in students_grades.items():
        total = 0 
        for grade in grades: 
            total += grade  
        average_grade = total / len(grades) 
        print(f"{student}'s average grade: {average_grade}") 

average_grades(students_grades)

Student A's average grade: 82.33333333333333
Student B's average grade: 86.0
Student C's average grade: 91.0
Student D's average grade: 73.33333333333333

In [72]:
#Exercise17
def calculate(num1, num2, operator):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        if num2 != 0:
            return num1 / num2
        else:
            return "Error: Division by zero"
    else:
        return "Invalid operator"
num1 = float(input("Number 1: "))
num2 = float(input("Number 2: "))
operator = input("Enter an operator (+, -, *, /): ")
result = calculate(num1, num2, operator)
print(f"Result: {num1} {operator} {num2} = {result}")

Number 1:  5
Number 2:  389
Enter an operator (+, -, *, /):  +

Result: 5.0 + 389.0 = 394.0